.container {
  margin: 0%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}

.child {
  margin: 0px 20px;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
