/* base styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  background: white;
  background: rgba(91, 94, 108, 0.226);
  background: linear-gradient(
    234deg,
    rgba(91, 94, 108, 0.473) 0%,
    rgba(219, 219, 238, 0.192) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
